# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts

# production build
dist/
build/
*.tsbuildinfo

# storybook
storybook-static/

# testing
coverage/
playwright-report/
test-results/
.playwright/

# misc
.DS_Store
*.pem
.vscode/
.idea/

# env
.env
.env*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
